<div class="info-container">
    <h1 class="title animate__animated animate__backInDown animate__delay-1s">{{ languaje.location }}</h1>
    <p class="subtitle animate__animated animate__rotateInDownRight animate__delay-1s">{{ languaje.locationAddress }}</p>
    <a [href]="coords" target="_blank" class="directions animate__animated animate__rotateInDownLeft animate__delay-1s">{{ languaje.getDirections }}</a>
</div>
<a [href]="coords" target="_blank" class="img-heigth animate__animated animate__rotateInDownRight animate__delay-1s">
    <img src="../../../assets/map.jpg" alt="">
</a>



