<app-header></app-header>
<div> 
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Mi sistema de rutas -->
            <router-outlet></router-outlet>
        </div>
    <div class="preloader" *ngIf="loading">
        <div class="loader">
            <img src="../../assets/dark-logo.png" class="loader__figure" alt="TLC Dental" >
        </div>
    </div>
    </div>
    <img src="../../../assets/united-states.png" class="icon float-end lan-button icon" alt="US" (click)="changeLanguaje('EN')" *ngIf="showMx">
        <img src="../../../assets/mexico.png" class="icon float-end lan-button icon" alt="MX" (click)="changeLanguaje('ES')" *ngIf="!showMx">
</div>

