<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <app-maps [lngLat]="lngLat"></app-maps>
                </div>
                <div class="col">
                    <div class="row"><a href="tel:980-328-1866" class="us"><strong>US #:(980)328-1866</strong></a></div>
                    <div class="row"><a href="tel:01152 658-517-3404" class="mx"><strong>MX #:01152 658-517-3404</strong></a></div>
                    <div class="row"><label class="us"><strong>E-mail: tlc-dental@hotmail.com</strong></label></div>
                    <div class="row"><label class="mx"><strong>Ave "A" between 3rd & 4th</strong></label></div>
                </div>
            </div>
        </div>
    </div>
</div>