<div id="contacto" class="info-container">
	<h1 class="title animate__animated animate__backInDown">Contact</h1>
	<div class="subtitle animate__animated animate__rotateInDownLeft">
		<label>México</label>
		<span>
			<a href="tel:01152 658-517-3404" class="tel">01152 (658) 517.3404</a>
		</span>
	</div>
	<div class="subtitle animate__animated animate__rotateInDownRight">
		<label>US</label>
		<span>
			<a href="tel:980-328-1866" class="tel">(928) 271.5250</a>
		</span>
	</div>
	<div class="subtitle animate__animated animate__rotateInDownLeft">
		<label>Email</label>
		<span>
			<a href="mailto:tlc-dental@hotmail.com" target="_blank" class="tel">tlc-dental@hotmail.com</a>
		</span>
	</div>
	<div class="subtitle animate__animated animate__rotateInDownRight">
		<p class="subtitle">
			For more information do not hesitate to contact us by phone at 
			<a href="tel:01152 658-517-3404" class="tel">01152 (658) 517.3404</a> / <a href="tel:980-328-1866" class="tel">(928) 271.5250</a>
		</p>
	</div>
</div>