<div id="contacto" class="info-container">
	<h1 class="title animate__animated animate__backInDown animate__delay-1s">{{ languaje.contact }}</h1>
	<div class="subtitle animate__animated animate__rotateInDownLeft animate__delay-1s">
		<label class="headers">México</label>
		<span class="info">
			<a href="tel:01152 658-517-3404" class="tel">01152 (658) 517.3404</a>
		</span>
	</div>
	<div class="subtitle animate__animated animate__rotateInDownRight animate__delay-1s">
		<label class="headers">US</label>
		<span class="info">
			<a href="tel:980-328-1866" class="tel">(928) 271.5250</a>
		</span>
	</div>
	<div class="subtitle animate__animated animate__rotateInDownLeft animate__delay-1s">
		<label class="headers">Email</label>
		<span class="info">
			<a href="mailto:tlc-dental@hotmail.com" target="_blank" class="tel">tlc-dental@hotmail.com</a>
		</span>
	</div>
	<div class="subtitle animate__animated animate__rotateInDownRight animate__delay-1s">
		<p class="information">
			{{ languaje.moreInformation }}
			<a href="tel:01152 658-517-3404" class="tel">01152 (658) 517.3404</a> / <a href="tel:980-328-1866" class="tel">(928) 271.5250</a>
		</p>
	</div>
</div>