

<div class="nav mb-10">
	<nav class="menu-list">
		<a [routerLink]="['/home/services']" routerLinkActive="router-link-active">Services</a>
		<a [routerLink]="['/home/clinic']" routerLinkActive="router-link-active">Clinic</a>
		<a [routerLink]="['/home/doctors']" routerLinkActive="router-link-active">Doctor</a>
		<a [routerLink]="['/home/location']" routerLinkActive="router-link-active">Location</a>
		<a [routerLink]="['/home/contact']" routerLinkActive="router-link-active">Contact</a>
	</nav>
</div>
