.nav
{
	background-color: #CFF5E7;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	overflow: auto;
	z-index: 1001;
	margin-bottom: 5px;
}

.menu-list
{
	position: relative;
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	cursor: default;
}

.menu-list > a
{
	position: relative;
	display: inline-block;
	color: #54514F;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 35px;
	letter-spacing: 2px;
	padding: 13px 0;
}

a
{
	position: relative;
	display: inline-block;
	color: #CFF5E7;
	text-decoration: none;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: black !important;
    text-decoration: none;
	cursor: pointer;
}

a:hover
{
	text-decoration: underline;
}
.icon{
	width: 30px;
	height: 25px;
}
@media (max-width: 767px) {
	.menu-list > a
	{
		/* position: relative; */
		display: inline-block;
		color: #54514F;
		font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		font-size: 11px;
		text-transform: uppercase;
		margin-right: 5px;
		font-weight: bold;
		/* padding: 13px 0; */
	}
}