
<div class="info-container">
  <h1 class="title">The Clinic</h1>
  
  <!-- <p class="subtitle">A clinic with 12 years of experience treating patients in the U.S. and Mexico, 
    where you can find all the dental services, being treated by dentists and dental specialists committed to your oral health, our experience sets us apart.</p> -->
</div>
<div id="carouselExampleIndicators" class="carousel slide carousel-heigt" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>
  <div class="carousel-inner inner">
      <div class="carousel-item active">
          <img src="../../../assets/310771354_1160554881556138_3317377644278770591_n.jpg"  class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/313782116_439964318212731_2028551587149121159_n.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/312357160_830806278209265_1169046849637335437_n.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/312212765_835439044469437_2941501178072675762_n.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/311485420_466546455467694_8084132020261921565_n.jpg" class="d-block w-100" alt="...">
        </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>