
<div class="info-container">
  <h1 class="title animate__animated animate__backInDown animate__delay-1s">{{ languaje.clinic }}</h1>
  
  <p class="subtitle animate__animated animate__rotateInDownLeft animate__delay-1s">{{ languaje.clinicSubTitle }}</p>
</div>
<div id="carouselExampleIndicators" class="carousel slide carousel-heigt animate__animated  animate__rotateInDownRight animate__delay-1s" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
  </div>
  <div class="carousel-inner inner">
      <div class="carousel-item active">
          <img src="../../../assets/principal2.jpg"  class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/313782116_439964318212731_2028551587149121159_n.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/principal3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/312212765_835439044469437_2941501178072675762_n.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/311485420_466546455467694_8084132020261921565_n.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/principal1.jpg" class="d-block w-100" alt="...">
        </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>