.info-container
{
	width: 900px;
	margin: 0 auto;
	position: relative;
	display: block;
	min-width: 900px;
}
.doctor-card{
	position: relative;
	display: block;
	margin: 0;
	font-size: 20px;
	text-align: center;
	height: 300px;
	margin-bottom: 16px;

}
.doctor-img{
    width: 50%;
    height: 50%;
    margin-top: 5px;
    border-radius: 100%;
}
.doctor-name{
	margin: 20px 5px;
}
.doctor-description{
	margin: 5px 5px;
}
.cover{
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    margin: 5px;
    height: 95%;
    width: 100%;
}
@media (max-width: 767px) {
    .info-container {
		width: 100%;
		min-width: 90%;
	}
	.doctor-card{
		position: relative;
		display: block;
		text-align: center;
		font-style: italic;
		padding: 0 5px;
		margin: 0 0 15px;
		font-size: large;
		height: 300px;
		margin-bottom: 16px;
	}
	.doctor-img{
		width: 50%;
		height: 45%;
	}
	.cover{
		border-radius: 10px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
		margin: 5px;
		height: 100%;
		width: 95%;
		display: flex !important;
	}

}