<div class="info-container">
    <h1 class="title animate__animated animate__backInDown animate__delay-1s">{{ languaje.doctors }}</h1>
    <div class="row">
        <div class="col-sm-6 doctor-card  animate__animated animate__rotateInDownLeft animate__delay-1s">
            <div class="card doctor-card">
                <img src="../../../assets/Yolanda.jpg"  class="doctor-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title doctor-name" ><strong>DDS Yolanda Gutierrez</strong></h5>
                    <p class="card-text doctor-description ">{{ languaje.generalDenstistry }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 animate__animated animate__rotateInDownRight animate__delay-1s">
            <div class="card doctor-card">
                <img src="../../../assets/Jari.jpg" class="doctor-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title doctor-name" ><strong>DDS Jari Franco</strong></h5>
                    <p class="card-text doctor-description ">{{ languaje.Root_Canal_Specialist }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6  animate__animated animate__rotateInDownLeft animate__delay-1s">
            <div class="card doctor-card">
                <img src="../../../assets/Alex.jpg"  class="doctor-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title doctor-name" ><strong>DDS Alex Hernandez</strong></h5>
                    <p class="card-text doctor-description ">{{ languaje.General_Implant_Specialist }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card doctor-card animate__animated animate__rotateInDownRight animate__delay-1s">
                <img src="../../../assets/Carlos.jpg" class="doctor-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title doctor-name" ><strong>DDS Carlos Janay</strong></h5>
                    <p class="card-text doctor-description ">{{ languaje.generalDenstistry }}</p>
                </div>
            </div>
        </div>
    </div>

</div>
