<div class="info-container">
    <h1 class="title animate__animated animate__backInDown">Doctors</h1>
    <div class="row">
        <div class="col-sm-6 doctor-card  animate__animated animate__rotateInDownRight">
            <div class="card doctor-card">
                <img src="../../../assets/Yolanda.jpg"  class="doctor-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title doctor-name" ><strong>DDS Yolanda Gutierrez</strong></h5>
                    <p class="card-text doctor-description ">General Denstistry</p>
                </div>
            </div>
        </div>
         <div class="col-sm-6 animate__animated animate__rotateInDownLeft">
            <div class="card doctor-card">
                <img src="../../../assets/Jari.jpg" class="doctor-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title doctor-name" ><strong>DDS Jari Franco</strong></h5>
                    <p class="card-text doctor-description ">Root Canal Specialist</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6  animate__animated animate__rotateInDownRight">
            <div class="card doctor-card">
                <img src="../../../assets/Alex.jpg"  class="doctor-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title doctor-name" ><strong>DDS Alex Hernandez</strong></h5>
                    <p class="card-text doctor-description ">General & Implant Specialist</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card doctor-card animate__animated animate__rotateInDownLeft">
                <img src="../../../assets/Carlos.jpg" class="doctor-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title doctor-name" ><strong>DDS Alex Hernandez</strong></h5>
                    <p class="card-text doctor-description ">General & Implant Specialist</p>
                </div>
            </div>
        </div>
    </div>
        <!-- <div class="col-md-6 animate__animated animate__rotateInDownRight doctor-card">
            <div class="card doctor-card card-shadow">
                <div class="row">
                    <div class="col-md-6 img-column"><img src="../../../assets/Carlos.jpg" class="doctor-img" alt="..."></div>
                    <div class="col-md-6"><h5 class="card-title doctor-name" ><strong>DDS Carlos Janay</strong></h5>
                        <p class="card-text doctor-description ">General Denstistry</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 animate__animated animate__rotateInUpLeft doctor-card">
            <div class="card doctor-card card-shadow">
                <div class="row">
                    <div class="col-md-6 img-column"><img src="../../../assets/Alex.jpg" class="doctor-img" alt="..."></div>
                    <div class="col-md-6"><h5 class="card-title doctor-name" ><strong>DDS Alex Hernandez</strong></h5>
                        <p class="card-text doctor-description ">General & Implant Specialist</p></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 animate__animated animate__rotateInUpRight doctor-card">
            <div class="card doctor-card card-shadow">
                <div class="row">
                    <div class="col-md-6 img-column"><img src="../../../assets/Jari.jpg" class="doctor-img" alt="..."></div>
                    <div class="col-md-6"><h5 class="card-title doctor-name" ><strong>DDS Jari Franco</strong></h5>
                        <p class="card-text doctor-description ">Root Canal Specialist</p></div>
                </div>
            </div>
        </div>
    </div> -->
</div>
