<router-outlet></router-outlet>

<!-- 
<div id="contenedor-menu-principal">
	<nav id="menu-principal">
		<a href="#servicios">Services</a>
		<a href="#clinica">Clinic</a>
		<a href="#perfil">Doctor</a>
		<a href="#ubicacion">Location</a>
		<a href="#contacto">Contact</a>
	</nav>
</div> -->
<!-- <div id="contenedor-portada">
	<div id="foto-portada">
		<span id="logo-portada">CLÍA Dental</span>
	</div>
</div> -->

<!-- <div id="servicios-clinica">
	<h1 id="servicios">Services</h1>
	<p class="descripcion-seccion">In Clia Dental we offer a variety of services to the dental health of our patients, from cleaning or a resin to a total prosthesis. Specializing in periodontics and dental implants, helping the prevention, diagnosis, and treatment of gum disease and bone.</p>
	<div class="contenedor-columnas">
		<ul>
			<li>Periodontics</li>
			<li>Surgery</li>
			<li>General Dentistry</li>
			<li>Implants</li>
		</ul>
		<ul>
			<li>Bone Graft</li>
			<li>Sinus bone grafting</li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div id="imagen-servicios" class="galeria">
		<img src="https://clarisaluken.com/imagenes/servicios/1.jpg">
		<img src="https://clarisaluken.com/imagenes/servicios/2.jpg">
		<div>
			<a href="#" class="imagen-anterior" data-galeria="servicios">Anterior / Previous</a>
			<a href="#" class="imagen-siguiente" data-galeria="servicios">Siguiente / Next</a>
		</div>
	</div>
	<h1 id="clinica">The Clinic</h1>
	<p class="descripcion-seccion">A clinic with 12 years of experience treating patients in the U.S. and Mexico, where you can find all the dental services, being treated by dentists and dental specialists committed to your oral health, our experience sets us apart.</p>
	<div id="imagen-clinica" class="galeria">
		<img src="https://clarisaluken.com/imagenes/clinica/1.jpg">
		<img src="https://clarisaluken.com/imagenes/clinica/2.jpg">
		<img src="https://clarisaluken.com/imagenes/clinica/3.jpg">
		<img src="https://clarisaluken.com/imagenes/clinica/4.jpg">
		<img src="https://clarisaluken.com/imagenes/clinica/5.jpg">
		<img src="https://clarisaluken.com/imagenes/clinica/6.jpg">
		<div>
			<a href="#" class="imagen-anterior" data-galeria="clinica">Anterior / Previous</a>
			<a href="#" class="imagen-siguiente" data-galeria="clinica">Siguiente / Next</a>
		</div>
	</div>
</div>
<div id="contenedor-perfil">
	<div id="perfil">
		<div class="contenedor-columnas">
			<div>
				<img id="imagen-perfil" width="430" height="500" src="https://clarisaluken.com/imagenes/foto-clarisa-luken.jpg">
			</div>
			<div id="contenido-perfil">
				<h1>Clarisa Luken</h1>
				<h2 class="titulo-academico">DDS</h2>
				<p>Dr. Clarissa Luken received her dental degree at Universidad Autonoma de Baja California, Mexico in 2002, with a specialty in periodontics obtained in 2010 and implantology in UABC, she also have a diploma in dental implants in Cuautitlan Itzcalli University in 2009. Currently a member of the Dental Association Mexican ADM.</p>
			</div>
		</div>
	</div>
</div>
<div id="ubicacion">
	<h1>Location</h1>
	<p>Ave. B &amp; 2nd St. #102<br>
Los Algodones B.C.<br>
México 21970</p>
	<a href="https://mapsengine.google.com/map/embed?mid=za9WDba9TCvQ.kA70DDdKrnko" target="_blank">Get Directions</a>
</div>
 -->
<!-- <div id="contacto">
	<h1>Contact</h1>
	<label>México</label>
	<span>01152 (658) 517.3555</span>
	<label>US</label>
	<span>(928) 271.5250</span>
	<label>Email</label>
	<a href="mailto:info@cliadental.com" target="_blank">info@cliadental.com</a>
	<label>Follow Us</label>
	<div>
		<a href="https://www.facebook.com/pages/Cl%C3%ADa-Dental/508713239221550?ref=br_tf" id="facebook" target="_blank">Facebook</a>
	</div>
	<p>For more information do not hesitate to contact us by phone at 000-000-0000 or via the form below.</p>
	<form action="https://clarisaluken.com/enviar_correo" id="formulario-contacto" method="post">
		<input type="hidden" name="idioma" value="en">
		<input type="hidden" name="tipo" value="">
		<div class="contenedor-columnas">
			<div>
				<input type="text" id="nombre" name="nombre" placeholder="NAME" data-requerido="">
				<input type="text" id="telefono" name="telefono" placeholder="PHONE">
			</div>
			<div>
				<input type="text" id="pais" name="pais" placeholder="COUNTRY / CITY">
				<input type="text" id="correo" name="correo" placeholder="EMAIL" data-requerido="">
			</div>
		</div>
		<input type="text" id="asunto" name="asunto" placeholder="SUBJECT">
		<textarea name="mensaje" placeholder="MESSAGE" data-requerido=""></textarea>
		<button data-exito="GO BACK" data-reset="SEND">SEND</button>
		<div id="mensaje-exito">
			<div>
				<h5>Thank You!</h5>
				<p>We got your message.<br>
We'll get in touch with you within the next day.</p>
			</div>
		</div>
	</form>
</div> -->


<!-- <router-outlet></router-outlet>
<nav class="navbar navbar-expand-lg nav d-flex center">
    <div class="container-fluid ">
      <div class=" navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item menu">
            <a class="nav-link menu" aria-current="page" [routerLink]="['/home/about-us']" routerLinkActive="router-link-active" >Services</a>
          </li>
          <li class="nav-item menu">
            <a class="nav-link menu" [routerLink]="['/home/contact-us']" routerLinkActive="router-link-active">Clinic</a>
          </li>
          <li class="nav-item menu">
            <a class="nav-link menu" [routerLink]="['/home/contact-us']" routerLinkActive="router-link-active">Doctor</a>
          </li>
          <li class="nav-item menu">
            <a class="nav-link menu" [routerLink]="['/home/contact-us']" routerLinkActive="router-link-active">Location</a>
          </li>
          <li class="nav-item menu">
            <a class="nav-link menu" [routerLink]="['/home/contact-us']" routerLinkActive="router-link-active">Contact</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="container services">
  <div class="container services">
    <div id="services" >
      <div class="containter tex-center">
        <h1 class="text-center">Services</h1>
        <div class="row tex-center">
          <div class="col-md-12 descripcion-seccion">
              <p>In TLC Dental we offer a variety of services to the dental health of our patients, from cleaning or a resin to a total prosthesis.
                 Specializing in periodontics and dental implants, helping the prevention, diagnosis, and treatment of gum disease and bone.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="clinic">
    <div class="row">
        <div class="col">
            <div id="carouselExampleIndicators" class="carousel slide slider" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../assets/tlc.jfif" class="d-block w-100" alt="...">
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-6">
            <div class="row tex-center">
                <div class="col-md-12 tex-center">
                    <p class="title">TLC Dental Care</p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <p class="subtitle">
                       Free dental exam and necessary X-rays.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="doctor"></div>
<div id="location">
    
</div>
<div id="contact"></div> -->
