body
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #54514F;
	background-color: #F2F2F2;
}

a
{
	position: relative;
	display: inline-block;
	color: #A0D7C6;
	text-decoration: none;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a:hover
{
	text-decoration: underline;
}

h1
{
	position: relative;
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Ebisu Light', Arial, Helvetica, sans-serif;
	font-size: 52px;
	letter-spacing: 16px;
	color: #54514F;
	line-height: 40px;
	padding-top: 74px;
	margin-bottom: 45px;
	margin-top: 0;
	font-weight: normal;
}

#contenedor-portada,
#servicios-clinica,
#contenedor-perfil,
#contenedor-perfil > div,
#ubicacion,
#mapa,
#contacto
{
	position: relative;
	display: block;
	min-width: 900px;
}

#contenedor-menu-principal
{
	background-color: #CFF5E7;
}

#contenedor-perfil
{
	padding: 50px 0;
	background-color: #fff;
}

#servicios-clinica,
#contenedor-perfil > div,
#ubicacion,
#contacto
{
	width: 900px;
	margin: 0 auto;
}

#mapa
{
	width: 100%;
	height: 600px;
	margin: 50px auto 0;
}

#foto-portada
{
	position: absolute;
	display: block;
	top: 45px;
	left: 45px;
	bottom: 45px;
	right: 45px;
	/* background-image: url(../imagenes/foto-portada.jpg); */
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.2);
}

#logo-portada
{
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 234px;
	height: 238px;
	text-indent: -9999em;
	/* background: url(../imagenes/logo-portada.png) no-repeat center; */
}

#contenedor-menu-principal
{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	overflow: auto;
	z-index: 1001;
}

#menu-principal
{
	position: relative;
	display: block;
	width: 900px;
	margin: 0 auto;
	text-align: center;
	cursor: default;
}

#menu-principal > a
{
	position: relative;
	display: inline-block;
	color: #54514F;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 35px;
	letter-spacing: 2px;
	padding: 13px 0;
}

#menu-principal > a[data-texto="menu-contacto"]
{
	margin-right: 0;
}

.menu-expandido
{
	position: fixed !important;
	background-color: #fff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
	border-bottom: 3px solid #e7e8e8;
}

.menu-expandido #menu-principal
{
	/* background: url(../imagenes/logo.png) no-repeat left center; */
}

.menu-expandido #menu-principal a
{
	padding: 23px 0 !important;
}

.cambiar-idioma
{
	position: absolute !important;
	margin-right: 0 !important;
	right: 0;
}

.descripcion-seccion
{
	position: relative;
	display: block;
	text-align: center;
	font-style: italic;
	padding: 0 50px;
	margin: 0 0 60px;
}

.contenedor-columnas
{
	position: relative;
	display: block;
	overflow: auto;
}

.contenedor-columnas > *
{
	position: relative;
	display: block;
	float: left;
	width: 50%;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
	text-indent: 0;
}

.contenedor-columnas > ul
{
	margin-bottom: 50px;
}

.contenedor-columnas li
{
	position: relative;
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Ebisu Light', Arial, Helvetica, sans-serif;
	font-size: 24px;
	letter-spacing: 7px;
	margin-bottom: 15px;
	color: #a0d7c6;
}

.contenedor-columnas li:last-child
{
	margin-bottom: 0;
}

.imagen-cuerpo
{
	position: relative;
	display: block;
	width: 900px;
}

#imagen-clinica
{
	margin-bottom: 50px;
}

.galeria
{
	position: relative;
	display: block;
	width: 900px;
	height: 450px;
}

.galeria > img
{
	position: absolute;
	display: none;
	width: 900px;
	height: 450px;
	top: 0;
	left: 0;
}

.galeria > img:first-of-type
{
	display: block;
}

.galeria > div
{
	position: absolute;
	display: block;
	width: 900px;
	height: 450px;
	left: 0;
	top: 0;
	z-index: 1;
}

.galeria > div > a
{
	position: absolute;
	display: block;
	width: 75px;
	height: 450px;
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -9999em;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.galeria > div > a:hover
{
	background-color: rgba(0, 0, 0, 0.25);
}

.galeria .imagen-anterior
{
	/* background-image: url(../imagenes/flecha-anterior.png); */
	left: 0;
}

.galeria .imagen-siguiente
{
	/* background-image: url(../imagenes/flecha-siguiente.png); */
	right: 0;
}

#contenido-perfil
{
	padding-top: 60px;
}

#contenido-perfil h1, 
#contenido-perfil h2, 
#contenido-perfil p
{
	position: relative;
	display: block;
	margin-top: 0;
	padding-top: 0;
}

#contenido-perfil h1,
#contenido-perfil h2
{
	font-family: 'Ebisu Light', Arial, Helvetica, sans-serif;
	font-size: 40px;
	text-align: left;
	letter-spacing: 9px;
}

#contenido-perfil h1
{
	margin-bottom: 0;
}

#contenido-perfil h2
{
	margin-bottom: 35px;
	color: #a0d7c6;
}

#contenido-perfil p
{
	font-style: italic;
}

#contenido-perfil p:last-child
{
	font-size: 18px;
}

#ubicacion > p
{
	position: relative;
	display: block;
	margin: 0;
	font-size: 30px;
	text-align: center;
}

#ubicacion > a
{
	position: relative;
	display: block;
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
}

#contacto label
{
	position: relative;
	display: block;
	text-align: center;
	font-size: 22px;
	margin: 0;
	color: #a0d7c6;
	text-transform: uppercase;
}

#contacto span, 
#contacto > a
{
	position: relative;
	display: block;
	text-align: center;
	font-size: 30px;
	color: #54524f;
	text-decoration: none;
	margin-bottom: 20px;
	text-transform: uppercase;
}

#contacto > a:hover
{
	text-decoration: underline;
}

#contacto > div
{
	position: relative;
	display: block;
	margin-bottom: 45px;
	text-align: center;
	cursor: default;
}

#contacto > div > a
{
	position: relative;
	display: inline-block;
	width: 55px;
	height: 55px;
	margin: 15px 10px 0;
	text-indent: -9999em;
	background-repeat: no-repeat;
	/* background-image: url(../imagenes/iconos-sociales.png); */
}

#facebook
{
	background-position: left top;
}

#twitter
{
	background-position: right top;
}

#contacto p
{
	position: relative;
	display: block;
	font-size: 30px;
	text-align: center;
	padding: 0 75px;
	margin-bottom: 45px;
}

form
{
	padding-bottom: 100px;
}

form div div:first-child
{
	padding-right: 5px;
}

form div div:last-child
{
	padding-left: 5px;
}

input[type=text],
textarea
{
	display: block;
	/* border: none; */
	padding: 15px 25px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 21px;
	color: #a0d7c6;
}

textarea
{
	height: 170px;
}

input[type=text]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 21px;
	color: #a0d7c6;
	text-transform: uppercase;
}

input[type=text]:-moz-placeholder,
textarea:-moz-placeholder
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 21px;
	color: #a0d7c6;
	text-transform: uppercase;
}

input[type=text]::-moz-placeholder,
textarea::-moz-placeholder
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 21px;
	color: #a0d7c6;
	text-transform: uppercase;
}

input[type=text]:-ms-input-placeholder,
textarea:-ms-input-placeholder
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 21px;
	color: #a0d7c6;
	text-transform: uppercase;
}

button
{
	position: relative;
	display: block;
	width: 210px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
	margin: 45px auto 0;
	background-color: #a0d7c6;
	text-transform: uppercase;
	padding: 20px 20px 17px;
	text-align: center;
	font-size: 18px;
	font-family: 'Ebisu Light', Arial, Helvetica, sans-serif;
	letter-spacing: 5px;
	border: none;
	cursor: pointer;
}

button:hover
{
	outline:3px solid #fff;
}

#formulario-contacto
{
	position: relative;
	display: block;
}

#mensaje-exito
{
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
}

#mensaje-exito > div
{
	position: relative;
	display: block;
	background-color: #fff;
	padding: 70px 30px 110px;
}

#mensaje-exito p,
#mensaje-exito h5
{
	text-align: center;
}

#mensaje-exito h5
{
	font-size: 60px;
	font-weight: normal;
	margin: 0 0 40px;
}

#mensaje-exito p
{
	margin: 0;
	font-size: 30px;
	color: #a0d7c6;
}

.titulo-academico
{
	font-size: 24px !important;
	letter-spacing: 7px !important;
}


/* .nav {
    background-color: #CFF5E7;
    color: #fff !important;
}
.menu{
    color: black !important;
    text-decoration: none;
}
.contact-number{
    width: 300px;
}
.center {
    justify-content: center;
}

.services{
    background-color: #EFF5F5;
    width: 900px;
    margin: 0 auto;
}
h1 {
    position: relative;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Ebisu Light', Arial, Helvetica, sans-serif;
    font-size: 52px;
    letter-spacing: 16px;
    color: #54514F;
    line-height: 40px;
    padding-top: 74px;
    margin-bottom: 45px;
    margin-top: 0;
    font-weight: normal;
}
.descripcion-seccion {
    position: relative;
    display: block;
    text-align: center;
    font-style: italic;
    padding: 0 50px;
    margin: 0 0 60px;
} */