<div class="info-container">
    <h1 class="title animate__animated animate__backInDown animate__delay-1s">{{ languaje.services }}</h1>
    <div class="row  animate__animated animate__delay-1s"  [ngClass]="{animate__rotateInDownRight: i%2 == 0, animate__rotateInDownLeft:i % 2 != 0 }" *ngFor="let item of clinicServices; let i = index ">
        <h3> {{ item.type }}</h3>
        <div class="col-4 mb-5 card-clinic" *ngFor="let item of item.items; let i = index " >
            <div class=" mb-3" style="height: 100%;" >
                <div class="card card card-shadow">
                    <h5 class="card-title cel-title" ><strong> {{ item | titlecase}} </strong></h5>
                </div>
            </div>
        </div>
    </div>
</div>