/* You can add global styles to this file, and also import other style files */
a
{
	position: relative;
	display: inline-block;
	color: #A0D7C6;
	text-decoration: none;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a:hover
{
	text-decoration: underline;
}

.title
{
	position: relative;
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Ebisu Light', Arial, Helvetica, sans-serif;
	font-size: 52px;
	letter-spacing: 10px;
	color: #54514F;
	line-height: 40px;
	padding-top: 74px;
	margin-bottom: 45px;
	margin-top: 0;
	font-weight: normal;
}